@{
    ViewData["Title"] = "Chat";
}
<div class="container mt-5">
    <h2>Welcome, @ViewBag.Username!</h2>

    <div class="mb-3 mt-3">
        <input type="text" id="messageInput" class="form-control" placeholder="Type a message" />
        <button class="btn btn-primary mt-2" id="sendBtn">Send</button>
    </div>

    <ul id="messagesList" class="list-group mt-3"></ul>
</div>

@section Scripts {
    <script>
        const currentUser = @Html.Raw(Json.Serialize(ViewBag.Username));
    </script>
}
