#messagesList {
    list-style-type: none;
    padding-left: 0;}

.my-message {
    background: white;
    color: cornflowerblue;
    margin-left: auto;
    text-align: right;
}

.other-user-message {
    background: white;
    color: darkgreen;
    margin-right: auto;
    text-align: left;
}